<div th:fragment="head">
    <title th:text="${applicationTitle}">...</title>
    <link rel="stylesheet" href="/css/style.css" />
</div>

<div th:fragment="header">
    <tr>
        <table class="content" align="center">
            <tr>
                <td width="100"><img class="logo" src="/images/logo.png" /></td>
                <td>
                    <h1 th:text="${applicationTitle}">...</h1>
                </td>
            </tr>
        </table>
    </tr>
</div>

<div th:fragment="navigationBar">
    <tr>
        <table class="content" align="center">
            <tr class="navbar">
                <td><a href="/">Home</a></td>
            </tr>
        </table>
    </tr>
</div>