<html>

<head>
    <!--/*/ <th:block th:include="fragments/layout.html :: head"></th:block> /*/-->
</head>

<body>
    <table class="content" align="center">
        <!--/*/ <th:block th:include="fragments/layout.html :: header"></th:block> /*/-->
        <!--/*/ <th:block th:include="fragments/layout.html :: navigationBar"></th:block> /*/-->
        <tr>
            <table class="content" align="center">
                <tr>
                    <td>
                        <span>hello world</span>
                    </td>
                </tr>
            </table>
        </tr>
    </table>
</body>

</html>